body {
    background-image: url(./img/css-pattern-by-magicpattern.png);
}

header {
    border: 1px solid black;
    background-color: lightblue;
    padding: 10px;
}

h1 {
    color: white;
}

main {
    background-color: rgba(156, 153, 199, 0.7);
}

h3 {
    background-color: tomato;
    border: 3px solid teal;
    padding: 10px;
    color: white;
}